* {
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'Poppins', sans-serif;
}
.navbar {
    position: fixed;
    width: 100%;
}
.main-container {
    margin-top: 70px;
}
.form-control {
    font-size: 13px !important;
}
.form-label, .form-file-label {
    font-weight: 600;
}
.submit-button {
    margin-top: 20px;
    float: right;
    font-size: 12px;
    font-weight: 600;
}
.product-form {
    margin: 0;
    border: 1px solid #ccc;
    padding: 20px 0;
    background: rgba(204, 204, 204, 0.239);
}
.product-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.product-header .btn {
    font-size: 12px;
    font-weight: 600;
}
.action-btn:not(:last-child) {
    margin-right: 10px;
}
thead tr th {
    background: #cfcfcf;
}
.signin-content {
    background: #ececee5c;
    border: 1px solid #e0e0e0;
    padding: 30px;
    box-shadow: 0 0 8px 2px #cecece4e;
}
.action-btn {
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    /* font-weight: 600; */
}
.dropdown-item {
    font-size: 12px;
}
.register-link {
    display: flex;
    float: right;
    font-size: 12px;
}
.dropdown-menu span {
    font-size: 13px;
    margin-left: 15px;
    cursor: pointer;
}
.dropdown-menu span:hover {
    color: #007bff;
}
.table {
    font-size: 12px;
}